{
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign",
    ["bem-import", { "techs": ["js"] }]
  ],
  "presets": [
    ["env", {
        "loose": true,
        "targets": { "browsers": ["last 2 versions", "IE >= 9"] }
    }],
    "react"
  ]
}
