{
  "plugins": ["transform-object-rest-spread", "transform-object-assign"],
  "presets": [["es2015", { "loose":true }], "react"],
  "env": {
    "test": {
      "plugins": [
        ["bem-import", {
          "levels": [
            "./tests/fixtures1.blocks",
            "./tests/fixtures2.blocks"
          ],
          "techs": ["js"]
        }]
      ]
    }
  }
}
