{
    "parser" : "babel-eslint",
    "extends" : ["plugin:react/all"],
    "plugins" : [
        "react",
        "jest"
    ],
    "settings": {
        "react": {
          "pragma": "h"
        }
    },
    "parserOptions" : {
        "ecmaVersion" : 6,
        "sourceType" : "module",
        "ecmaFeatures" : {
            "jsx" : true
        }
    },
    "rules" : {
        "semi" : "error",
        "indent" : ["error", 4],
        "no-mixed-spaces-and-tabs" : "error",
        "max-len" : ["error", { "code" : 120 }],
        "eol-last" : "error",
        "no-unused-vars" : ["error", {
            "vars" : "all",
            "args" : "none"
        }],
        "jsx-quotes": ["error", "prefer-double"],
        "key-spacing" : ["error", {
            "beforeColon" : true,
            "afterColon" : true,
            "mode" : "strict"
        }],
        "curly" : ["error", "multi"],
        "object-curly-spacing" : ["error", "always"],
        "keyword-spacing" : ["error", {
            "before" : true,
            "after" : true,
            "overrides" : {
                "if" : { "after" : false },
                "for" : { "after" : false },
                "while" : { "after" : false },
                "switch" : { "after" : false },
                "catch" : { "after" : false }
            }
        }],
        "array-bracket-spacing" : ["error", "never"],
        "func-call-spacing" : "error",
        "space-before-blocks" : ["error", "always"],
        "quotes" : ["error", "single", { "avoidEscape" : true }],
        "camelcase" : ["error", { "properties" : "never" }],
        "no-trailing-spaces" : "error",
        "comma-dangle" : ["error", "never"],
        "react/jsx-filename-extension" : ["error", { "extensions" : [".js"] }],
        "react/jsx-indent" : ["error", 4],
        "react/jsx-sort-props" : "off",
        "react/require-optimization" : "off",
        "react/no-set-state" : "off",
        "react/no-multi-comp" : "off",
        "react/sort-prop-types" : "off",
        "react/prop-types" : "off",
        "react/forbid-prop-types" : "off",
        "react/forbid-component-props" : "off",
        "react/forbid-foreign-prop-types" : "off",
        "react/display-name" : "off",
        "react/jsx-closing-bracket-location" : ["error", "after-props"],
        "react/jsx-max-props-per-line" : ["error", { "maximum" : 3 }],
        "react/jsx-wrap-multilines" : ["error", {
            "declaration" : true,
            "assignment" : true,
            "return" : true
        }],
        "react/jsx-no-literals" : "off",
        "react/jsx-handler-names" : "off",
        "react/jsx-tag-spacing" : ["error", {
            "beforeSelfClosing" : "never"
        }],
        "react/jsx-space-before-closing" : ["error", "never"]
    }
}
